#title {
	text-align: center;
	font-family: Arial, sans-serif;
	margin-top: 20px;
}

#country {
	text-align: center;
	width: 100%;
	font-size: medium;
	border-collapse: collapse;
	border: 5px solid #ddd;
	font-family: 'Trebuchet MS', Arial, sans-serif;
}
#country td,
#Spacexdata th {
	border: 1px solid #ddd;
	padding: 8px;
}

#country tr {
	border: 3px solid #ddd;
}

#country th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #4caf50;
	color: white;
}
#country tr:hover {
	background-color: #ddd;
}

hr {
	color: red;
	width: 20%;
}

#dropdown-basic {
	margin-left: 50px;
}
.input-group {
	margin-bottom: 10px;
}
